.registration-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-container {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-container h2 {
    margin-bottom: 20px;
}

.registration-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-container label {
    margin-bottom: 5px;
}

.registration-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registration-container button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registration-container button:hover {
    background-color: #555;
}

.registration-container a {
    margin-top: 10px;
    color: #333;
    text-decoration: none;
}

.registration-container a:hover {
    text-decoration: underline;
}
